* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg");
    background-size: cover;
}
nav {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 17px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a {
    color: #0c493b;
}
nav ul li a:hover {
    background-color: #b2d2cc;
    padding: 10px;
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
}
.logo {
    font-size: 30px;
    color: #0c493b;
    font-weight: bold;
    cursor: pointer;
}
.content {
    top: 45%;
    width: 100%;
    text-align: left;
    padding-left: 100px;
    color: #0c493b;
    position: absolute;
    transform: translateY(-50%);
    text-shadow: 1px 1px 3px #141415;
}
.content h1 {
    font-size: 50px;
    margin-top: 30px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
}
.content a:hover{
    padding: 17px 0;
    background-color: #478d7d;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: .3s ease-in-out;
    transition-delay: 0.1s;
    border-radius: 25px;
}
button {
    width: 200px;
    margin: 20px 10px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #476356;
    background: transparent;
    border: 3px solid #478d7d;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    text-shadow: 1px 2px 5px;
}
img {
    width: 20%;
    height: auto;
    float: right;
    margin-right: 200px;
    margin-top: 90px;
    border-radius: 50px;
    box-shadow: 2px 2px 20px #030303;
}
.identitas {
    padding-left: 50px;
    padding: 10px;
    margin-top: 700px;
    background-color: #0c493b;
    color: aliceblue;
    text-align: center;
}