* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2020/11/08/13/28/tree-5723734_640.jpg");
    background-size: cover;
}
nav {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 17px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a {
    color: #0c493b;
}
nav ul li a:hover {
    background-color: #b2d2cc;
    padding: 10px;
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
}
.logo {
    font-size: 30px;
    color: #0c493b;
    font-weight: bold;
    cursor: pointer;
}
.logo img {
    width: 30px;
    padding-right: 10px;
}
th {
	text-align: left;
    padding-left: 10px;
}
td {
    padding-left: 10px;
}
 
img{
	width: 100%;
	margin-top: 10px;
}
h1 {
    font-size: 100px;
    padding-top: 50px;
    color: #0c493b;
}
p {
    font-size: 20px;
    margin: 2px;
    text-shadow: 2px 4px 10px #fbfbfb;
    line-height: 25px;
    color: #0c493b;
}
img{
	width: 100%;
	margin-top: 10px;
}
.content{
	overflow: hidden;
    padding-top: 20px;
    padding-left: 100px;
}
 
.left{
	width: 30%;
	float: left;
}
 
.right{
	width: 60%;
	padding:0px 20px;	
	float: left;
}
button {
    width: 200px;
    margin: 20px 10px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #478d7d;
    border: 3px solid #476356;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    text-shadow: 1px 2px 15px;
}